img{
    width: 100%
}

.column {
    width: 600px;
    margin: 0px auto;
    background-color: white;
    padding: 1px 40px 40px 40px;
    border-left: solid 25px #ff8a8a;
    border-right: solid 25px #ff8a8a;
}

h1{
    font-size: large;
    text-align: center;
    font-family: 'Lucida Sans';
}

h3{
    font-style: italic;
    text-align: center;
}

p{
    font-style: normal;
    font-family: Georgia;
}

